<div class="links">
  <ul class="links-list">
    <li class="links-item">
      <a class="links-link links-link_gh" href="https://github.com/askd">github.com/askd</a>
    </li>
    <li class="links-item">
      <a class="links-link links-link_tw" href="https://twitter.com/asktwi">twitter.com/asktwi</a>
    </li>
    <li class="links-item">
      <a class="links-link links-link_fb" href="https://www.facebook.com/anna.selezniova">facebook.com/anna.selezniova</a>
    </li>
  <label class="links-close" for="toggle"></label>
</div>
