<div class="about">

  <%/*<h2 class="about-title">CV</h2>*/%>

  <div class="about-item">

    <h3 class="about-item--title">Skills</h3>
    <p class="about-item--text">
      HTML, CSS, PostCSS, SVG<br>
      JavaScript/ECMAScript, ReactJS,&nbsp;Redux<br>
      Git, Webpack
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Experience</h3>
    <p class="about-item--text">
      Web development: more than 10&nbsp;years<br>
      Frontend: <%= (+new Date().getFullYear() - 2007) %> years (since 2007)
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Speaker</h3>
    <p class="about-item--text">
      At conferences and meetings in&nbsp;Belarus, Russia and Ukraine (Web Standard Days, Web Not Bombs, FrontTalks, Yandex, 404fest, Digital Bay etc)
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Publications</h3>
    <ul class="about-item--text about-item--text_pres">
      <li>
        <a href="https://www.smashingmagazine.com/2016/07/front-end-challenge-accepted-css-3d-cube/" target="_blank">Front-End Challenge Accepted: CSS&nbsp;3D&nbsp;Cube
        </a><small>Smashing&nbsp;Magazine&nbsp;2016</small>
      </li>
    </ul>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Employment</h3>
    <p class="about-item--text">In reverse chronological order:</p>
    <dl class="about-item--text about-item--text_exp">
      <dt>2015-now</dt>
      <dd>Frontend-developer in&nbsp;<a href="https://evilmartians.com" target="_blank">Evil Martians</a></dd>
      <dt>2014-2015</dt>
      <dd>Frontend-developer, freelance. I&nbsp;worked together with&nbsp;<a href="http://cpeople.ru" target="_blank">CreativePeople</a>, <a href="http://orangelabel.ru" target="_blank">OrangeLabel</a> and other companies</dd>
      <dt>2008-2014</dt>
      <dd>Frontend-developer in CreativePeople. I&nbsp;worked mostly remotely</dd>
      <dt>2007-2008</dt>
      <dd>Frontend-developer, freelance. I&nbsp;worked together with UMH and&nbsp;other companies in&nbsp;Kiev (Ukraine)</dd>
      <dt>2002-2007</dt>
      <dd>Web-developer in Viaden, Zeema, Altima and&nbsp;other companies in Minsk and Kiev, which no longer exist</dd>
      <dt>2001-2002</dt>
      <dd>Web-developer in Cronaintsep (Minsk, Belarus). I created the first version of&nbsp;the&nbsp;Project Tracking System</dd>
      <dt>2000-2001</dt>
      <dd>Web-developer in Technobank (Minsk, Belarus). I created the first version of&nbsp;the&nbsp;Internet-bank and company site, which has&nbsp;been used for 9 years</dd>
    </dl>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Education</h3>
    <p class="about-item--text">
      Bachelor's degree: <a href="http://bsuir.by/" target="_blank">BSUIR</a><br>Field of Study: Software engineering
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">In addition</h3>
    <p class="about-item--text">
      I prefer tasks at the intersection of&nbsp;design and frontend. I&nbsp;like to invent and improve interfaces, create dynamic prototypes
      and&nbsp;experiment with new technologies.
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Contacts</h3>
    <p class="about-item--text">
      <small>E-mail: </small><a href="mailto:hi@askd.rocks">hi@askd.rocks</a>
    </p>
    <%/*<figure class="about-photo">
      <img class="about-photo--image" src="/files/photos/anna.jpg" alt="Anna Selezniova">
    </figure>*/%>
  </div>

</div>
