<div class="about">

  <%/*<h2 class="about-title">CV</h2>*/%>

  <div class="about-item">

    <h3 class="about-item--title">Навыки</h3>
    <p class="about-item--text">
      HTML, CSS, PostCSS, SVG<br>
      JavaScript/ECMAScript, ReactJS,&nbsp;Redux<br>
      Git, Webpack
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Стаж работы</h3>
    <p class="about-item--text">
      Веб-разработка: более 10&nbsp;лет<br>
      Frontend: <%= (+new Date().getFullYear() - 2007) %> лет (с 2007 года)
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Спикер</h3>
    <p class="about-item--text">
      На конференциях Web Standard Days, FrontTalks, Яндекс, 404fest, Digital Bay и&nbsp;минских митапах Web&nbsp;Not&nbsp;Bombs, Girls&nbsp;Not&nbsp;Bombs.
    </p>
    <p class="about-item--text">
      Записи некоторых докладов:
    </p>
    <ul class="about-item--text about-item--text_pres">
      <li>
        <a href="https://www.youtube.com/watch?v=K2E2IVTgkrI" target="_blank">Через тернии к Webpack
        </a><small>Girls Not Bombs 2015</small>
      </li>
      <li>
        <a href="https://vimeo.com/141458006" target="_blank">Вызов принят
        </a><small>FrontTalks 2015</small>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=aVlhxKkn5OE" target="_blank">Еще один доклад про SVG
        </a><small>Girls Not Bombs 2015</small>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=3-6IMeajb54" target="_blank">Пиксель и другие
        </a><small>Girls Not Bombs 2014</small>
      </li>
      <li>
        <a href="https://www.youtube.com/watch?v=o2LNfXzVNnc" target="_blank">Основы сеонизма
        </a><small>Web Not Bombs 2013</small>
      </li>
      <li>
        <a href="https://events.yandex.ru/lib/talks/458/" target="_blank">Адаптивный веб-дизайн
        </a><small>Яндекс&amp;Web Standards Days 2012</small>
      </li>
    </ul>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Публикации</h3>
    <ul class="about-item--text about-item--text_pres">
      <li>
        <a href="https://www.smashingmagazine.com/2016/07/front-end-challenge-accepted-css-3d-cube/" target="_blank">Front-End Challenge Accepted: CSS&nbsp;3D&nbsp;Cube
        </a><small>Smashing&nbsp;Magazine&nbsp;2016</small>
      </li>
    </ul>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Опыт работы и&nbsp;компании</h3>
    <p class="about-item--text">В обратном хронологическом порядке:</p>
    <dl class="about-item--text about-item--text_exp">
      <dt>2015-сейчас</dt>
      <dd>Frontend-разработчик в&nbsp;<a href="https://evilmartians.com" target="_blank">Evil Martians</a></dd>
      <dt>2014-2015</dt>
      <dd>Frontend-разработчик, фриланс. Сотрудничала с&nbsp;<a href="http://cpeople.ru" target="_blank">CreativePeople</a>, <a href="http://orangelabel.ru" target="_blank">OrangeLabel</a> и другими компаниями.</dd>
      <dt>2008-2014</dt>
      <dd>Frontend-разработчик в&nbsp;CreativePeople. Большую часть времени удалённо.</dd>
      <dt>2007-2008</dt>
      <dd>Frontend-разработчик, фриланс. Сотрудничала с&nbsp;UMH и&nbsp;другими киевскими компаниями.</dd>
      <dt>2002-2007</dt>
      <dd>Веб-разработчик в Viaden, Zeema, Altima и&nbsp;других компаниях Минска и&nbsp;Киева, которые уже не&nbsp;существуют.</dd>
      <dt>2001-2002</dt>
      <dd>Веб-разработчик в&nbsp;Cronaintsep (Минск, Беларусь). Создала первую версию СУП&nbsp;PTS.</dd>
      <dt>2000-2001</dt>
      <dd>Веб-разработчик в&nbsp;Технобанке (Минск, Беларусь). Создала первую версию Интернет-банка и&nbsp;сайт компании, который использовался 9&nbsp;лет.</dd>
    </dl>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Образование</h3>
    <p class="about-item--text">
      Высшее техническое. <a href="http://bsuir.by/" target="_blank">БГУИР</a><br>
      Cпециальность инженер-программист
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Разговорные языки</h3>
    <p class="about-item--text">
      Русский (грамотный)<br>
      Английский (intermediate)
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Дополнительно</h3>
    <p class="about-item--text">
      Предпочитаю задачи на&nbsp;стыке дизайна и фронтенда. Имею большой опыт работы с&nbsp;качественным дизайном, люблю придумывать и&nbsp;усовершенствовать интерфейсы, создавать динамические прототипы
      и&nbsp;экспериментировать с&nbsp;новыми технологиями.
    </p>

  </div>
  <div class="about-item">

    <h3 class="about-item--title">Контакты</h3>
    <p class="about-item--text">
      <small>E-mail: </small><a href="mailto:hi@askd.rocks">hi@askd.rocks</a>
    </p>
    <%/*<figure class="about-photo">
      <img class="about-photo--image" src="/files/photos/anna.jpg" alt="Анна Селезнёва">
    </figure>*/%>
  </div>

</div>
