<% var date = new Date(); %>
<div class="about">
  <div class="about-ttl">
    <h3>Skills</h3>
  </div>
  <div class="about-txt">
    <p>
      HTML, CSS, PostCSS, Stylus/LESS/Sass, SVG<br>
      JavaScript, ES2015, JQuery, ReactJS, Redux<br>
      Git, Gulp/Grunt, Webpack
    </p>
  </div>
  <div class="about-ttl">
    <h3>Experience</h3>
  </div>
  <div class="about-txt">
    <p>
      Web development: more than 10 years<br>
      Frontend: <%= (parseInt(date.getFullYear(), 10) - 2007) %> years (since 2007)
    </p>
  </div>
  <div class="about-ttl">
    <h3>Education</h3>
  </div>
  <div class="about-txt">
    <p>
      Bachelor's degree: <a href="http://bsuir.by/" target="_blank">BSUIR</a><br>Field of Study: Software engineering
    </p>
  </div>
  <div class="about-ttl">
    <h3>Speaker</h3>
  </div>
  <div class="about-txt">
    <p>At conferences and meetings in Belarus, Russia and Ukraine (Web Standard Days, Web Not Bombs, FrontTalks, Yandex, 404fest, Digital Bay etc)</p>
  </div>
  <div class="about-ttl">
    <h3>Publications</h3>
  </div>
  <div class="about-txt">
    <ul class="about-pres">
      <li><a href="https://www.smashingmagazine.com/2016/07/front-end-challenge-accepted-css-3d-cube/" target="_blank">Front-End Challenge Accepted: CSS&nbsp;3D&nbsp;Cube</a><small>Smashing&nbsp;Magazine&nbsp;2016</small></li>
    </ul>
  </div>
  <div class="about-ttl">
    <h3>Employment</h3>
  </div>
  <div class="about-txt">
    <dl class="about-exp">
      <dt>2000-2001</dt><dd>Web-developer in Technobank (Minsk, Belarus). I created the first version of&nbsp;the&nbsp;Internet-bank and company site, which has&nbsp;been used for 9 years</dd>
      <dt>2001-2002</dt><dd>Web-developer in Cronaintsep (Minsk, Belarus). I created the first version of the&nbsp;Project Tracking System</dd>
      <dt>2002-2007</dt><dd>Web-developer in Viaden, Zeema, Altima and&nbsp;other companies in Minsk and Kiev, which no longer exist</dd>
      <dt>2007-2008</dt><dd>Frontend-developer, freelance. I worked together with UMH and&nbsp;other companies in&nbsp;Kiev (Ukraine)</dd>
      <dt>2008-2014</dt><dd>Frontend-developer in CreativePeople. I&nbsp;worked mostly remotely</dd>
      <dt>2014-2015</dt><dd>Frontend-developer, freelance. I&nbsp;worked together with&nbsp;<a href="http://cpeople.ru" target="_blank">CreativePeople</a>, <a href="http://orangelabel.ru" target="_blank">OrangeLabel</a> and other companies</dd>
      <dt>2015-...</dt><dd>Frontend-developer in&nbsp;<a href="https://evilmartians.com" target="_blank">Evil Martians</a></dd>
    </dl>
  </div>
  <div class="about-ttl">
    <h3>In addition</h3>
  </div>
  <div class="about-txt">
    <p>I prefer tasks at the intersection of design and frontend. I&nbsp;like to invent and improve interfaces, create dynamic prototypes
    and&nbsp;experiment with new technologies.</p>
  </div>
</div>
