<header class="header">
  <div class="header-tri"></div>
  <h1 class="header-title"><%= texts.title %></h1>
  <a class="header-lang" href="/<%= lang == 'ru' ? '' : 'ru' %>"><%= lang == 'ru' ? 'EN' : 'RU' %></a>
  <%/*<div class="header-social">
    <a class="header-social--item header-social--item_tw" href="https://twitter.com/asktwi"></a>
    <a class="header-social--item header-social--item_fb" href="https://www.facebook.com/anna.selezniova"></a>
    <a class="header-social--item header-social--item_in" href="https://instagram.com/askinst/"></a>
  </div>*/%>
</header>
