<nav class="nav">
  <a class="nav-item" href="#home"><%= labels.home %></a>
  <a class="nav-item" href="#projects"><%= labels.projects %></a>
  <a class="nav-item" href="#about"><%= labels.about %></a>
</nav>
